.navbar-1 {
    margin-bottom: 7%;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkblue;

}

.my-image {
    height: 200px;
    width: 200px;
}

.main-1{
    margin-bottom: 5%;
}